@import url('https://fonts.googleapis.com/css2?family=Kulim+Park&family=Lato:ital,wght@0,400;1,300;1,400&family=Montserrat&family=Playfair+Display:ital@1&family=Roboto:ital,wght@0,100;0,300;0,900;1,300;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,600;1,700&display=swap');

@font-face {
  font-family: 'Mark-Pro';
  src: url(./../fonts/Mark-Pro-Heavy.ttf);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html,
body {
  padding: 0;
  margin: 0;
    /* font-family: 'Lato', sans-serif !important; */
    font-family: 'Mark-Pro' !important;
    scroll-behavior: smooth !important;
    font-family: 'Source Code Pro', monospace !important;
    overflow-x: hidden !important;
    /* To change Cursor */
    // cursor: url('./assets/cursor.svg') 15 15,move; 
}
h1{
  font-family: 'Mark-Pro' !important;

}
h2{
  font-family: 'Mark-Pro' !important;

}
h3{
  font-family: 'Mark-Pro' !important;

}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
// Helpers
.color-white{
  color: white !important;
}
.color-black{
  color: black !important;
}
.color-blue{
  color: #16dbff !important;
}
.color-orange{
  color: orange !important;
}
  
.message{
  color: rgb(79, 224, 79);
}
.container {
  padding: 0 6rem;
  z-index: -1;
}
.navContainer {
  padding: 0 6rem;
}
@media screen and (max-width:600px) {
  .container {
    padding: 0 1rem !important;
  }
  .navContainer {
    padding: 0 1rem !important;
  }
}
@media screen and (max-width:350px) {
  .container {
    padding: 0 0.5rem  !important;
  }
  .navContainer {
    padding: 0 0.5rem  !important;
  }
  h2{
    font-size: 30px;
  }
}

/*  Cursor Design */
.cursor {
  width: 20px;
  height: 20px;
  border: 1px solid white;
  border-radius: 50%;
  position: absolute;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
  animation: cursorAnim .5s infinite alternate;
  pointer-events: none;
}

.cursor::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  border: 8px solid gray;
  border-radius: 50%;
  opacity: .5;
  top: -8px;
  left: -8px;
  animation: cursorAnim2 .5s infinite alternate;
}

@keyframes cursorAnim {
  from {
      transform: scale(1);
  }
  to {
      transform: scale(.7);
  }
}

@keyframes cursorAnim2 {
  from {
      transform: scale(1);
  }
  to {
      transform: scale(.4);
  }
}

@keyframes cursorAnim3 {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(3);
  }
  100% {
      transform: scale(1);
      opacity: 0;
  }
}

.expand {
  animation: cursorAnim3 .5s forwards;
  border: 1px solid red;
}



/* Scrollbar */
html::-webkit-scrollbar {
  width: 14px; 
  border-radius: 10px;

}
html::-webkit-scrollbar-thumb {
  background-color: #0919cd !important;
  border: 2px solid #fdfdfd !important;
  border-radius: 20px !important;
}
html::-webkit-scrollbar-track {
  background: #c6e1f899 !important;
}
/* 
html::-webkit-scrollbar {
  width: 14px; 
  border-radius: 10px;

}

html::-webkit-scrollbar-track {
  border-radius: 10px;

  background:  linear-gradient(0deg, rgba(255, 0, 0, 1) 0%, rgba(7, 0, 211, 1) 100%);
}

html::-webkit-scrollbar-thumb {
  background: transparent;
  box-shadow: 0px 0px 0px 100vh rgb(202, 202, 202);
} */

/* Highlight Design */

::-moz-selection { 
  background-color: #0919cd; 
  color: #fff; } 
  ::selection { background-color: #0919cd; 
  color: #fff; }

  /* Animated Buttons */


  /* Tear Button Design */

$color-button-blue: #3498db;

$color-text: #ecf0f1;

$font-family: Arial, helvetica, sans-serif;
$font-size: 100%;

  .btn-blue-tr {
    min-width: 130px;
    position: relative;
    display: inline-block;
    text-align: center;
  
    padding: 15px;
  
    font-size: 100%+ 40%;
    font-weight: 600;
  
    color:'#ecf0f1';
  
    transition: 0.5s;
  }
  .btn-blue-tr { background-color: '#3498db' }
  .btn-blue-tr:before {
    position: absolute;
    content:"";
    // border-top: 5px solid lighten($color-button-blue, 5%);
    // border-left: 5px solid lighten($color-button-blue, 5%);	
    // border-right: 5px solid darken($color-button-blue, 5%);
    // border-bottom: 5px solid darken($color-button-blue, 5%);
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;	
  
    transition: 0.5s;
  }
  .btn-blue-tr:hover {
    box-shadow: 7px 7px darken($color-button-blue, 20%), -7px -7px lighten($color-button-blue, 20%);
    cursor: pointer;
    &::before {
      border: 0px ;
    }
  }

  // Echo animated Button

  .wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  
  .animatedButton {
    min-width: 130px;
    min-height: 60px;
  /*   padding:'10px 40px' */
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    letter-spacing: 1.3px;
    font-weight: 700;
    color:'#0919cd';
  background: linear-gradient(90deg, '#0919cd' 0%, rgba(79,209,197,1) 100%);
    border: none;
  /*   border-radius: 1000px; */
    box-shadow: 12px 12px 24px rgba(79,209,197,.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    }
  
  .animatedButton::before {
  content: '';
    min-width: 
    calc(130px);
    min-height: calc(60px);
    border: 6px solid #00FFCB;
    box-shadow: 0 0 60px rgba(0,255,203,.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
  
  .animatedButton:hover, .animatedButton:focus {
    color: #313133;
    transform: translateY(-6px);
  }
  
  .animatedButton:hover::before,  .animatedButton:focus::before {
    opacity: 1;
  }
  
  .animatedButton::after {
    content: '';
    width: 30px; height: 30px;
  /*   border-radius: 100%; */
    border: 6px solid #00FFCB;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
  }
  
  .animatedButton:hover::after,  .animatedButton:focus::after {
    animation: none;
    display: none;
  }
  
  @keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 200px;
      height: 100px;
      opacity: 0;
    }
  }











/* Projects */

.projects{
  margin: 30px;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; */
  margin-bottom: 100px;
}
.projects h2{
  font-weight: bold;
}
.p{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.pWrapper{
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}
.projectWrapper{
  transition: 1s ease-in-out;
  display: flex;
  position: relative;
  justify-content: center;
  padding-right: 300px;
  
}
.projectDesc{
  box-shadow: rgb(0 0 0 / 5%) 0px 5px 10px;
  height: 500px;
  width: 700px;
  padding: 30px;
  /* background-color: #ff0844; */
}
.projectDesc h3{
  padding-top: 10px;
  padding-bottom: 20px;
}
.projectDesc p{
  height: 310px;
  width: 350px;
}
.projectImage{
  background-color: rgb(212, 208, 208);
  position: absolute;
    left: 400px;
  z-index: 999;
}
.projectImage img{
  width: 600px;
  height: 400px;
  /* height: 195px; */
}
.more{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  padding-top: 40px;

}
.links a{
  text-decoration: none !important;
  font-size: 15px !important;
  color: white !important;
  padding: 15px !important;
  background-color: black !important;
  margin-left: 10px !important;
  border-radius: 10px !important;
}
.language{
  display: flex;
  justify-content: space-evenly;
  min-width: 100px;
}
.smallIcon{
  width: 26px;
  height: 26px;
  /* padding-top: 60px; */
}
.SmallIcon{
  width: 40px;
  height: 40px;
  margin: 5px;
}
.projectWrapper:hover{
  transform: scale(1.1);

}
.yt-video{
  width: 600px;
  height: 400px;
}
 @media screen and (max-width:950px) {
  .projects{
    overflow-x: hidden;
  }
  .projects h2{
    margin-top: 20px;
  }
  .pWrapper{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .projectWrapper{
    display: flex;
    flex-direction:column-reverse ;
    position:static;
    justify-content: center;
    padding-right: 0px;
    
  }
  .projectDesc{
    box-shadow: rgb(0 0 0 / 5%) 5px 5px 10px;
    height: 500px;
    max-width: 700px;
    padding: 30px;
  }

  .projectDesc p{
    height: 310px;
    width: 600px;

  }
  .projectImage{
    background-color: rgb(212, 208, 208);
  position: static;
  }
  .projectImage img{
    width: 700px;
    height: 400px;
  }
  .projectWrapper:hover{
    transform: scale(1.0);
  
  }
} 

 @media screen and (max-width:630px) {
  .projects{
    margin: 0;
    margin-bottom: 30px;
  }
  .pWrapper{
    overflow-x: hidden;
  }
  .projectWrapper{
    padding: 5px;
    margin-left: 20px;
    margin-right: 20px;
    
  }
  .projectDesc{
    max-width: 400px;
    padding: 30px;
    
  }

  .projectDesc p{
    max-width: 360px;
    max-height: 310px;

  }
  .projectImage{
  
    background-color: rgb(212, 208, 208);
  position: static;
  }
  .projectImage img{
    background-color: white;
    padding-left: 30px;
    padding-right: 30px;
    max-width: 400px;
    max-height: 300px;
    object-fit: cover;
    
  }
  /* .more{
    padding-top: 0px;
  } */
  .projectDesc p{
    height: unset !important;
  }
  .projectDesc{
    height: unset !important;
    padding-bottom: 40px !important;
  }
} 


/* Process */
.process{
  margin-left: 30px;
margin-right: 30px;
}
.process h2{
  font-weight: bold;
  /* margin-top: 50px; */
  text-align: center;
  margin-bottom: 60px;
}

.processWrapper{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.processItem{
  background-color: #4299e1;

  color: white;
  width: 320px;
  height: 280px;
  margin: 20px;
  padding: 20px;
  margin-bottom: 50px;
  border-radius: 20px;
  box-shadow: 4px 8px 4px rgb(212, 205, 205);
  transition: 0.5s ease-in;
}
.processItem img{
  width: 30px;
  height: 30px;
  margin-bottom: 15px;
}
.bottom{
  /* color: rgb(53, 53, 119); */

  margin-bottom: 15px;
}

.processItem:hover{
  transform: scale(1.075);

  background-color: #02054B;
  
}
.processIcon{
  width: 40px;
  height: 40px;
}
//  Mobile Navbar

.wrapper{
  position: fixed;
  top: 0;
  /*left: -100%;*/
  right: -100%;
  height: 100%;
  width: 100%;
  background: #000;
  display: none;
  z-index: 1;
  /*background: linear-gradient(90deg, #f92c78, #4114a1);*/
  /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
 /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%);*/
  transition: all 0.6s ease-in-out;
}
#active:checked ~ .wrapper{
  /*left: 0;*/
  right:0;
}
.menu-btn{
  position: absolute;
  z-index: 2;
  right: 20px;
  /*left: 20px; */
  display: none !important;
  top: 20px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  /*color: #fff;*/
  /*background: linear-gradient(90deg, #f92c78, #4114a1);*/
  /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
 /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%); */
  transition: all 0.3s ease-in-out;
}
.menu-btn span,
.menu-btn:before,
.menu-btn:after{
	content: "";
	position: absolute;
	top: calc(50% - 1px);
	left: 30%;
	width: 40%;
	border-bottom: 2px solid white;
	transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.menu-btn:before{
  transform: translateY(-8px);
}
.menu-btn:after{
  transform: translateY(8px);
}


.close {
	z-index: 1;
	width: 100%;
	height: 100%;
	pointer-events: none;
	transition: background .6s;
}

/* closing animation */
#active:checked + .menu-btn span {
	transform: scaleX(0);
}
#active:checked + .menu-btn:before {
	transform: rotate(45deg);
  border-color: #fff;
}
#active:checked + .menu-btn:after {
	transform: rotate(-45deg);
  border-color: #fff;
}
.wrapper ul{
  position: absolute;
  top: 60%;
  left: 50%;
  height: 90%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
}
.wrapper ul li{
  height: 10%;
  margin: 15px 0;
}
.wrapper ul li a{
  text-decoration: none;
  font-size: 30px;
  font-weight: 500;
  padding: 5px 30px;
  color: #fff;
  border-radius: 50px;
  position: absolute;
  line-height: 50px;
  margin: 5px 30px;
  opacity: 0;
  transition: all 0.3s ease;
  transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.wrapper ul li a:after{
  position: absolute;
  content: "";
  background: #fff;
   /*background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);*/
  /*background: linear-gradient(375deg, #1cc7d0, #2ede98);*/
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 50px;
  transform: scaleY(0);
  z-index: -1;
  transition: transform 0.3s ease;
}
// .wrapper ul li a:hover:after{
//   transform: scaleY(1);
// }
.wrapper ul li a:hover{
  color: #1a73e8;
}
input[type="checkbox"]{
  display: none;
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  text-align: center;
  width: 100%;
  color: #202020;
}
.content .title{
  font-size: 40px;
  font-weight: 700;
}
.content p{
  font-size: 35px;
  font-weight: 600;
}

#active:checked ~ .wrapper ul li a{
  opacity: 1;
}
.wrapper ul li a{
  transition: opacity 1.2s, transform 1.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translateX(100px);
}
#active:checked ~ .wrapper ul li a{
	transform: none;
	transition-timing-function: ease, cubic-bezier(.1,1.3,.3,1); /* easeOutBackを緩めた感じ */
   transition-delay: .6s;
  transform: translateX(-100px);
}
.desktop-none{
  display: none;
}


@media screen and (max-width:700px) {
  .wrapper{
    display: block !important;
  }
  .menu-btn{
    display: block !important;
  }
  .mobile-none{
    display: none !important;
  }
  .desktop-none{
    display: block;
  }
}
























  /* Footer */
.footer__container {
  background-color: #02054B;
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#footer__logo {
  color: #fff;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 18px;
}

.footer__links {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: space-around;
}


.footer__link--items {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  margin: 16px;
  text-align: left;
  width: 330px;
  box-sizing: border-box;
}

.footer__link--items h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 16px;
  color: #fff;
}

.footer__link--items a {
  color: #fff;
  text-decoration: none;
  margin-bottom: 0.5rem;
  transition: 0.3 ease-out;
}

.footer__link--items a:hover {
  color: #e9e9e9;
  transition: 0.3 ease-out;
}

.social__icon--link {
  color: #fff;
  font-size: 24px;
}

.social__media {
  max-width: 1000px;
  width: 100%;
}

.social__media--wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1000px;
  margin: 40px auto 0 auto;
  padding-top: 32px;
  border-top: 1px solid white;
}

.social__icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px;
}

.website__rights {
  color: #fff;
  margin-bottom: 0;
 /* margin-top: 5px; */
}

@media screen and (max-width: 820px) {
  .footer__links {
    padding-top: 2rem;
  }

  #footer__logo {
    margin-bottom: 2rem;
  }

  .website__rights {
    margin-bottom: 2rem;
  }

  .footer__link--wrapper {
    flex-direction: column;
  }

  .social__media--wrap {
    flex-direction: column;
  }
}

@media screen and (max-width: 480px) {
  .footer__link--items {
    margin: 0;
    padding: 10px;
    width: 100%;
  }
}

/* Extras */

.Icon{
  color: rgb(19, 26, 94);
  min-width: 100px;
  min-height: 100px;
  margin: 40px;
  transition: 0.7s ease-in-out;
}
@media screen and (max-width:'450px') {
  .Icon{
    min-height: 70px ;
    min-width: 70px ;
  }
}
.portfolio {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  flex-direction: column !important;
  height: 70vh !important;

}
/* heading */
.portfolio span:nth-of-type(1) {
  color: var(--black);
  font-size: 2rem;
  font-weight: bold;
}

.portfolio span:nth-of-type(2) {
  color: var(--orange);
  font-size: 2.5rem;
  font-weight: bold;
}

/* slider */
.portfolio .swiper{
    overflow: visible!important;
}

.portfolio-slider {
  margin-top: 3rem;
  width: 100%;
}

.portfolio-slider .swiper-slide {
  width: 20rem;
}
.portfolio img {
  width: 19rem;
  filter: drop-shadow(-12px 15px 13px rgba(0, 0, 0, 0.25));
  border-radius: 19px;
}


